<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">

    <title>Twolu - Movies for two!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/main.css" rel="stylesheet">

    <link href="static/dist/css/typeahead.css" rel="stylesheet">

    <script src="static/dist/js/jquery.min.js"></script>
    <script src="static/dist/js/typeahead.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="static/dist/img/logo.png" alt="" height="35"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="slides.html">SLIDES</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
            <form action="." method="POST">
            	<div id="left_side" style="float:left; width:50%">
	                <label>Friend 1: What movies do you want to watch?</label>
	                <div id="movie11"><input class="movie" id="movie11_text" type="text" name="u1m1_name" placeholder="Enter a movie title" value="{{u1m1_val}}"><input type="button" value="+" id="button_add_left"></div>
	                <div id="movie12"><input class="movie" id="movie12_text" type="text" name="u1m2_name" placeholder="Enter a movie title" value="{{u1m2_val}}"></div>
	                <div id="movie13"><input class="movie" id="movie13_text" type="text" name="u1m3_name" placeholder="Enter a movie title" value="{{u1m3_val}}"></div>
	                <div id="movie14"><input class="movie" id="movie14_text" type="text" name="u1m4_name" placeholder="Enter a movie title" value="{{u1m4_val}}"></div>
	                <div id="movie15"><input class="movie" id="movie15_text" type="text" name="u1m5_name" placeholder="Enter a movie title" value="{{u1m5_val}}"></div>
	                </div>
                <div id="right_side" style="float:left; width:50%">
	                <label>Friend 2: What movies do you want to watch?</label>
	                <div id="movie21"><input class="movie" id="movie21_text" type="text" name="u2m1_name" placeholder="Enter a movie title" value="{{u2m1_val}}"><input type="button" value="+" id="button_add_right"></div>
	                <div id="movie22"><input class="movie" id="movie22_text" type="text" name="u2m2_name" placeholder="Enter a movie title" value="{{u1m2_val}}"></div>
	                <div id="movie23"><input class="movie" id="movie23_text" type="text" name="u2m3_name" placeholder="Enter a movie title" value="{{u2m3_val}}"></div>
	                <div id="movie24"><input class="movie" id="movie24_text" type="text" name="u2m4_name" placeholder="Enter a movie title" value="{{u2m4_val}}"></div>
	                <div id="movie25"><input class="movie" id="movie25_text" type="text" name="u2m5_name" placeholder="Enter a movie title" value="{{u2m5_val}}"></div>
            	</div>
            	<div class="find_recs_button">
            		<input class='btn btn-primary' type='submit' value="Find movies we'll both like!">
            	</div>


            </form>
            </form>
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<div class="btn-group btn-group-justified">
				<button type="button" class="btn btn-info" id="kids_horror" style="width:25%; height:100px; white-space: normal">KIDS + HORROR</button>
				<button type="button" class="btn btn-danger" id="romance_comedy" style="width:25%; height:100px; white-space: normal">ROMANCE/DRAMA + SILLY COMEDY</button>
			  	<button type="button" class="btn btn-success" id="scifi_comedy" style="width:25%; height:100px; white-space: normal">SCIFI + SILLY COMEDY</button><!-- 
				<button type="button" class="btn btn-primary" id="kids_predator" style="width:20%; height:100px; white-space: normal">PREDATOR + KIDS</button> -->
			  	<button type="button" class="btn btn-warning" id="comedy_horror" style="width:25%; height:100px; white-space: normal">ROMANCE/FAMILY COMEDY + TEXAS CHAINSAW MASSACRE</button>
			</div>
			<br><br>

		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

    <script>
    	// google analytics snippet
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47880312-1', 'two-lu.com');
  ga('send', 'pageview');

       	// specification for autocompletion.  See frontend.get_autocompleting_movies
        $('.movie').typeahead({
          name: 'movies',
          remote: '/json/movies?q=%QUERY',
          limit: 10
        });

        //------------define functionality of plus button---------------------//
        // The plus button adds another text box and moves the plus button down,
        // unless there are 4 text boxes initially, in which case it removes the 
        // plus button.
        // The idea is that there are five text boxes for each user, but
        // initially only one is showing for each user.  On the other hand,
        // there is only ever one plus button per user.  When the plus button is
        // pressed, another text box shows itself, and the plus button is 
        // removed and a new one added (unless there were four text boxes, then
       	// no new button is added.)

		// These keep track of the current number of text boxes open on the left
		// and right.  Start with only one text box showing per user.
       	var left_count=1;
       	var right_count=1;

       	// start with only one text box showing per user
    	$('#movie12').hide();
    	$('#movie13').hide();
        $('#movie14').hide();
        $('#movie15').hide();
        $('#movie22').hide();
        $('#movie23').hide();
        $('#movie24').hide();
	    $('#movie25').hide();

	    // Sets the number of text boxes showing for the left user to 
	    // numLeftFields.
		function setNumLeftFields(numLeftFields){
			i=1;
			// show numLeftFields text boxes
			while(i<=numLeftFields){
				$('#movie1'+i).show();
				i++;
			}
			// hide the other ones
			while(i<=5){
				$('#movie1'+i).hide();
				i++;	
			}
			// remove the button
			$('#button_add_left').remove();

			// set left_count
			left_count=numLeftFields;

			// if there are less than 5 text boxes, add another button
			// that will make another text box when pressed
			if(numLeftFields < 5){
           		$('#movie1'+numLeftFields).append('<input type="button" value="+" id="button_add_left">')
   		        $('#button_add_left').click(function(){
        			setNumLeftFields(left_count+1);
    			});

			}
		}

	    // Sets the number of text boxes showing for the left user to 
	    // numLeftFields.
		function setNumRightFields(numRightFields){
			i=1;
			// show numRightFields text boxes
			while(i<=numRightFields){
				$('#movie2'+i).show();
				i++;
			}
			// hide the other ones
			while(i<=5){
				$('#movie2'+i).hide();
				i++;	
			}
			// remove the button
			$('#button_add_right').remove();

			// set right_count
			right_count=numRightFields;

			// if there are less than 5 text boxes, add another button
			// that will make another text box when pressed			
			if(numRightFields < 5){
           		$('#movie2'+numRightFields).append('<input type="button" value="+" id="button_add_right">')
		        $('#button_add_right').click(function(){
		        	setNumRightFields(right_count+1);
		        });
			}
		}

		// Start with buttons that will create add another text box when pressed
        $('#button_add_left').click(function(){
        	setNumLeftFields(left_count+1);
        });

        $('#button_add_right').click(function(){
        	setNumRightFields(right_count+1);
        });

        //-------------specify what all the premade searches do---------------//
        $('#scifi_comedy').click(function(){

        	setNumRightFields(2);
        	setNumLeftFields(4);

	        $('#movie11_text').val('Star Trek: Generations (1994)')
	        $('#movie12_text').val('Stargate (1994)')
	        $('#movie13_text').val('Star Wars: Episode IV - A New Hope (a.k.a. Star Wars) (1977)')
	        $('#movie14_text').val('Blade Runner (1982)')
	        $('#movie15_text').val('')

	        $('#movie21_text').val('Happy Gilmore (1996)')
	        $('#movie22_text').val('Billy Madison (1995)')
	        $('#movie23_text').val('')
	        $('#movie24_text').val('')
	        $('#movie25_text').val('')
        });

        $('#kids_predator').click(function(){
        	setNumLeftFields(1);
        	setNumRightFields(1);

 	        $('#movie11_text').val('Goofy Movie, A (1995)')
	        $('#movie12_text').val('')
	        $('#movie13_text').val('')
	        $('#movie14_text').val('')
	        $('#movie15_text').val('')

	        $('#movie21_text').val('Predator (1987)')
	        $('#movie22_text').val('')
	        $('#movie23_text').val('')
	        $('#movie24_text').val('')
	        $('#movie25_text').val('')
       });

        $('#comedy_horror').click(function(){
        	setNumLeftFields(3);
        	setNumRightFields(1);

 	        $('#movie11_text').val('Nine Months (1995)')
	        $('#movie12_text').val('Notting Hill (1999)')
	        $('#movie13_text').val('Eat Drink Man Woman (Yin shi nan nu) (1994)')
	        $('#movie14_text').val('')
	        $('#movie15_text').val('')

	        $('#movie21_text').val('Texas Chainsaw Massacre, The (1974)')
 	        $('#movie22_text').val('')
	        $('#movie23_text').val('')
	        $('#movie24_text').val('')
	        $('#movie25_text').val('')
      });

        $('#romance_comedy').click(function(){
        	setNumLeftFields(2);
        	setNumRightFields(2);

 	        $('#movie11_text').val('Persuasion (1995)')
	        $('#movie12_text').val('Leaving Las Vegas (1995)')
	        $('#movie13_text').val('')
	        $('#movie14_text').val('')
	        $('#movie15_text').val('')

	        $('#movie21_text').val('Happy Gilmore (1996)')
	        $('#movie22_text').val('Billy Madison (1995)')
	        $('#movie23_text').val('')
	        $('#movie24_text').val('')
	        $('#movie25_text').val('')
       });

       $('#kids_horror').click(function(){
        	setNumLeftFields(2);
        	setNumRightFields(2);

 	        $('#movie11_text').val('Aladdin (1992)')
	        $('#movie12_text').val('Peter Pan (1953)')
	        $('#movie13_text').val('')
	        $('#movie14_text').val('')
	        $('#movie15_text').val('')

	        $('#movie21_text').val('Texas Chainsaw Massacre, The (1974)')
	        $('#movie22_text').val('Silence of the Lambs, The (1991)')
	        $('#movie23_text').val('')
	        $('#movie24_text').val('')
	        $('#movie25_text').val('')
       });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

  </body>
</html>
